* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

html {
    scroll-behavior: smooth;
    background: black;
    color: #00ff88;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #001a00;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

/* LINKS */
a {
    color: #00ff88;
    text-decoration: none;
}

/* HEADER */
header {
    text-align: center;
    padding: 40px;
    background: #002b00;
}

/* BUTTON */
.btn {
    background: #004d00;
    color: #00ff88;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    transition: 0.3s;
}

.btn:hover {
    background: #006600;
}

/* FEATURED */
.featured {
    text-align: center;
    padding: 30px;
}

.featured img {
    width: 300px;
    border-radius: 10px;
}

/* CATEGORIES */
.categories {
    text-align: center;
    padding: 20px;
}

/* CARDS */
.recipes {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 200px;
    background: #001a00;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* DETAILS */
.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px 20px;
}

/* CENTERED CARD */
.recipe-card {
    width: 100%;
    max-width: 700px;
    background: #001a00;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 10px #00ff88;
}

.recipe-card img {
    width: 100%;
    max-width: 300px;
    margin: 15px 0;
    border-radius: 10px;
}

.recipe-card p {
    margin: 10px 0;
}

.recipe-card ul {
    text-align: left;
    margin: 10px auto;
    max-width: 400px;
}

/* COOK SECTION */
.cook {
    display: none;
    margin-top: 10px;
    background: #003300;
    padding: 10px;
    border-radius: 5px;
}

.cook:target {
    display: block;
}

/* TOP BUTTON */
.top-btn {
    text-align: center;
    margin: 20px;
}

.top-btn a {
    background: #004d00;
    padding: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #001a00;
}